<app-titulo [titulo]="'Eventos'"></app-titulo>

<div  class="form-inline">
  <div class="frm-group mb2">
    <label for="filtroInput" class="mr-sm-2">Procurar Evento: </label>
    <input type="text" class="form-control mr-sm-2" placeholder="Procurar evento..." name="filtroLista">
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Imagem do Evento</th>
      <th scope="col">Tema</th>
      <th scope="col">Local</th>
      <th scope="col">Data do Evento</th>
      <th scope="col">Qtd Pessoas</th>
      <th scope="col">Lote</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ng-for="let evento of eventosFiltrados">
      <th scope="row">{{ evento.id }}</th>
      <td><img src="/assets/{{ evento.imagemURL }}" alt="{{ evento.tema }}" width="50"></td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lotes[0].nome }}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-primary btn-sm mr-2" tooltip="Editar"><i class="fa fa-edit"></i>Editar</button>
          <button class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)"><i class="fa fa-trash"></i>Excluir</button>
        </div>
      </td>
    </tr>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir?</p>
    <button type ="button" class="btn btn-default" (click)="confirm()" disabled>Sim</button>
    <button type ="button" class="btn btn-primary" (click)="declin()" disabled>Sim</button>
  </div>
